@font-face {
    font-family: myFirstFont;
    src: url(Ailerons-Typeface.otf);
}

.container {
	/*padding: 60px;*/
	margin: auto;
	background-image: url('stars.jpg');
	width: 100%;
	height: 100%;
}

.top-start-page {
	text-align: center;
}

.top-title {
	font-size: 100px;
	font-family: myFirstFont;
	color: white;
}

.main-page {
	text-align: center;
}

.world {
	padding-top: -30px;
	font-size: 150px;
	font-family: myFirstFont; 
	color: white;
}

.span {
	color: white;
	font-family: myFirstFont;
	font-size: 50px;
}

#search {
	text-align: center;
	padding-top: 30px;
}

.results {
	margin: auto;
	text-align: center;
}

.main-page span {
	color: white;
}

.nasa-img {
	margin-left: auto;
	margin-right: auto;
}


